
/*  1. FONTS
====================================*/
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-Book.eot'); src: url('../fonts/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-Book.woff2') format('woff2'), url('../fonts/GothamNarrow-Book.woff') format('woff'), url('../fonts/GothamNarrow-Book.ttf') format('truetype'), url('../fonts/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg'); font-weight: normal; } 
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-XLight.eot'); src: url('../fonts/GothamNarrow-XLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-XLight.woff2') format('woff2'), url('../fonts/GothamNarrow-XLight.woff') format('woff'), url('../fonts/GothamNarrow-XLight.ttf') format('truetype'), url('../fonts/GothamNarrow-XLight.svg#GothamNarrow-XLight') format('svg'); font-weight: 200; } 
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-Light.eot'); src: url('../fonts/GothamNarrow-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-Light.woff2') format('woff2'), url('../fonts/GothamNarrow-Light.woff') format('woff'), url('../fonts/GothamNarrow-Light.ttf') format('truetype'), url('../fonts/GothamNarrow-Light.svg#GothamNarrow-Light') format('svg'); font-weight: 300; } 
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-Medium.eot'); src: url('../fonts/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-Medium.woff2') format('woff2'), url('../fonts/GothamNarrow-Medium.woff') format('woff'), url('../fonts/GothamNarrow-Medium.ttf') format('truetype'), url('../fonts/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg'); font-weight: 500; } 
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-Bold.eot'); src: url('../fonts/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-Bold.woff2') format('woff2'), url('../fonts/GothamNarrow-Bold.woff') format('woff'), url('../fonts/GothamNarrow-Bold.ttf') format('truetype'), url('../fonts/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg'); font-weight: Bold; } 
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-Black.eot'); src: url('../fonts/GothamNarrow-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-Black.woff2') format('woff2'), url('../fonts/GothamNarrow-Black.woff') format('woff'), url('../fonts/GothamNarrow-Black.ttf') format('truetype'), url('../fonts/GothamNarrow-Black.svg#GothamNarrow-Black') format('svg'); font-weight: 800; } 
@font-face{ font-family: 'GothamNarrow'; src: url('../fonts/GothamNarrow-Ultra.eot'); src: url('../fonts/GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamNarrow-Ultra.woff2') format('woff2'), url('../fonts/GothamNarrow-Ultra.woff') format('woff'), url('../fonts/GothamNarrow-Ultra.ttf') format('truetype'), url('../fonts/GothamNarrow-Ultra.svg#GothamNarrow-Ultra') format('svg'); font-weight: 900; }

/*  2. LOADER
====================================*/
#loader {position: fixed;width: 96px;height: 96px;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: rgba(255, 255, 255, 0.9);-webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);border-radius: 16px;opacity: 0;visibility: hidden;-webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;-o-transition: opacity .2s ease-out, visibility 0s linear .2s;transition: opacity .2s ease-out, visibility 0s linear .2s;z-index:99999;}
#loader.fullscreen {padding: 0;left: 0;top: 0;width: 100%;height: 100%;-webkit-transform: none;-ms-transform: none;transform: none;background-color: #fff;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;}
#loader .loader-svg {-webkit-animation: loader-rotate 2s linear infinite;animation: loader-rotate 2s linear infinite;position: absolute;left: calc(50% - 24px);top: calc(50% - 24px);display: block;-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);}
#loader .loader-svg .path {stroke-dasharray: 1, 200;stroke-dashoffset: 0;-webkit-animation: loader-dash 1.5s ease-in-out infinite;animation: loader-dash 1.5s ease-in-out infinite;stroke-linecap: round;}
#loader.show {-webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;-o-transition: opacity .4s ease-out, visibility 0s linear 0s;transition: opacity .4s ease-out, visibility 0s linear 0s;visibility: visible; opacity: 1;}
@keyframes loader-rotate {100% {transform: rotate(360deg);}}
@keyframes loader-dash {0% {stroke-dasharray: 1, 200;stroke-dashoffset: 0;}50% {stroke-dasharray: 89, 200;stroke-dashoffset: -35px;}100% {stroke-dasharray: 89, 200;stroke-dashoffset: -136px;}}


/*  3. MAIN ELEMENTS
====================================*/
html, body{margin:0;padding:0; font-size: 15px;}
body{background-color:#ffffff;min-height: 100%;color:#626d74;font-size:15px;line-height:1.6; font-family:"GothamNarrow", sans-serif;font-weight:normal;position: relative;overflow-x: hidden;}
strong, b {font-weight: 700;}
a {color: inherit;text-decoration:none;transition: all 0.15s cubic-bezier(0.1, 0.2, 0.8, 1);}
a:hover {text-decoration:none;transition: all 0.15s cubic-bezier(0.1, 0.2, 0.8, 1);}
hr {border-top-color:#cccccc;margin:24px 0;}
img {max-width:100%;height:auto;-webkit-user-select: none;-user-select:none;pointer-events: none;}


@-webkit-keyframes fade-in-bottom{
    0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}
    to{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;visibility:visible}
}
@keyframes fade-in-bottom{
    0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}
    to{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;visibility:visible}
}
@-webkit-keyframes fadeOut{
    0%{opacity:1}to{opacity:0}
}
@keyframes fadeOut{
    0%{opacity:1}to{opacity:0}
}


/*  4. HEADING
====================================*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: inherit;line-height: 1.2;color:#001e33;font-weight:bold;margin-bottom:10px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {text-decoration: none;color:inherit;}
h1, .h1 {font-size: 2rem; }
h2, .h2 {font-size: 1.75rem; }
h3, .h3 {font-size: 1.5rem; }
h4, .h4 {font-size: 1.25rem; }
h5, .h5 {font-size: 1.125rem; }
h6, .h6 {font-size: 1rem; }

.main-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom:2rem;
}
.main-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83px;
    height:2px;
}
.page-title {font-weight: 500;}

@media(max-width:767px) {
    h1, .h1, #hero .h-body .h-title {font-size:1.75rem;}
    h2, .h2 {font-size:1.5rem;}
    h3, .h3 {font-size:1.25rem;}
}


/*  5. HEADER
====================================*/
#header {position:relative;}
#header .h-top {padding:8px 0;background-color: #f6dc01;border-bottom: 1px solid #e3e4e5;}
#header .h-top .h-top-left {}
#header .h-top .lnk-phone-number {margin-right:1rem;}
#header .h-top .social a {color: #fff;padding:6px;background-color: #626d74;border-radius: 50%;margin-left: 5px;text-align: center;}
#header .h-top .social a svg {width: 12px;height: 12px;}
.lang, .f-menu {display: -webkit-box;display: -ms-flexbox;display: flex;list-style: none;margin:0;padding:0;}
.lang li {line-height:1;}
.lang li + li {border-left:1px solid #626d74;}
.lang li a {padding:0 5px;} 
.lang li a.active {font-weight: bold;}

.lnk-phone-number {    line-height: 24px;color: #0168b3;font-size: 14px;font-weight: 300;}
.lnk-phone-number .icon {}
.lnk-phone-number .text {}
.lnk-phone-number .text span {display: inline-block;padding: 0 7px;color: #fff;background-color: #0168b3; border-radius: 4px;font-size: 17px;font-weight: bold;}
.lnkcancel{display: block;text-align: right;}
.navbar { padding:2rem 0;background-color:#ffffff; box-shadow: 0 5px 5px rgba(0,0,0,.25);}
.navbar-brand {padding:1rem;position: absolute;top:0;left: 50%;margin-top: -3.5rem;margin-right: 0;transform: translateX(-50%); z-index:999;}
.navbar-brand a {display:inline-block;} 
.navbar-brand .logo {}
.navbar-brand .logo2 {display:none;}
.navbar .navbar-collapse {}
.navbar .navbar-nav {}
.navbar-nav .nav-item {}
.navbar-nav .nav-link {text-transform: uppercase;    padding: 18px 28px;font-size: 16px;color: #999;}



.btn-toggler {height: 2.5rem;width:3rem;padding: 0;margin-left:1rem;color: #ffffff;position: relative;font-size: 1.25rem; line-height: 1;background-color: transparent;border:0;-webkit-appearance: none;appearance: none;-moz-appearance: none;border-radius: 0.25rem;overflow: hidden;text-align:right;}
.btn-toggler i {display: block;position: absolute;top:5px;right:0;width:100%;height:5px;    border-radius: 5px;transition: all .3s;background-color: #ffffff;}
.btn-toggler i:nth-child(2) {top: 17px;transition: all 0s;}
.btn-toggler i:nth-child(3) {top:29px;}
.bg-navbar {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000;z-index: -1;visibility: hidden;opacity: 0;transition: all .3s;}

.menu--open, .menu--open body {overflow: hidden;}
.menu--open .btn-toggler, .btn-toggler.active {z-index:9999;}
.menu--open .btn-burger i {left: 1px;}
.menu--open .btn-burger i:first-child, .btn-toggler.active i:first-child {top:13px;left: 1px;-webkit-transform: rotate(135deg) !important;transform: rotate(135deg) !important;}
.menu--open .btn-burger i:nth-child(2), .btn-toggler.active i:nth-child(2) {opacity: 0;left: 60px;background: #000 !important;}
.menu--open .btn-burger i:nth-child(3), .btn-toggler.active i:nth-child(3) {top:13px;width:100%;-wekit-transform: rotate(-135deg) !important;transform: rotate(-135deg) !important;}
.menu--open .bg-navbar {visibility: visible;z-index: 5999;opacity: 0.5;}

.page--home #header {position: fixed;left: 0;top: 0;width: 100%;z-index: 999;transition: all 0.3s;}

.header--fixed #header {position: fixed;width: 100%;top:0;}
.header--fixed .navbar-brand {margin-top: -6px;}
.header--fixed .navbar-brand .logo, .header--fixed #header .h-top {display:none;}
.header--fixed .navbar-brand .logo2 {display:block;}
.header--fixed .navbar {background-color:rgba(255,255,255,0.8);}

.text-shadow {text-shadow: 0px 2px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;}
.small-x {font-size: 70%; font-weight: 400;}
.small-2x {font-size: 60%; font-weight: 400;}
.small-3x {font-size: 50%; font-weight: 400;}
.slide-desc.hide-md-down a {color: #0094ff;}
.slide-desc.hide-md-down a:hover {color: #fff;}

/*  7. FOOTER
====================================*/
#footer {font-size:12px;}
#footer .f-body {color:#ffffff;padding:1rem 0;border-bottom:1px solid #ffffff;}
.f-menu {display: -webkit-box;display: -ms-flexbox;display: flex;}
.f-menu li {}
.f-menu li + li:before {color:#ffffff;content: "|";margin-right: 5px;padding-left: 5px;}
.f-menu li a {color:#ffffff;padding:0;font-size: 11px;line-height: 1;text-transform: uppercase;}

.newsletter .newsletter-label {margin-bottom:0;margin-right: 10px;font-weight: bold;}
.newsletter .form-control:placeholder {color:#999999 !important;}
#footer .f-foot {padding:10px 0;}
#footer .f-foot .social a { padding:6px;background-color: #ffffff;border-radius: 50%;}
#footer .f-foot .social a svg {width: 12px;height: 12px;}
#footer .egegen {display:inline-block;}
#footer .egegen svg {width:3rem;height:3rem;position:relative;}
#footer .egegen svg path {fill: #ffffff;}




/*  7. SLIDER
====================================*/
#slider {position: relative;}
#slider .slick-dotted.slick-slider {margin-bottom:0;}
#slider .slick-dots {display:-webkit-inline-flex !important;display: -ms-inline-flexbox !important;display:inline-flex !important;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-align-items: center;align-items: center;bottom:auto;top:50%;width:auto;transform: translateY(-50%);}
#slider .slick-dots li {text-align: center;}
#slider .slick-dots li button {border-color:#ffffff;}
#slider .slick-dots li.slick-active button {}
#slider .slider-block {font-size:2rem;color: #ffffff; position: absolute; top: 30%;left:50%; transform: translate(-50%,-50%); width: 100%; text-align: center;}
#slider .slider-block .slide-title {font-size: 52px;font-weight: 800;color: #ffffff;font-weight: bold;text-transform: uppercase;}
#slider .slider-block .slide-title img {display:inline-block;}
#slider .slider-block .slide-desc {font-style: italic;}

#slider .slick-slide {position:relative;height:80vh;overflow: hidden;}

.section-space .container {margin-left:0;}

#bread {padding:1rem 2rem;margin-bottom:1rem;}
#bread .bread-body {position:relative;}
#bread .bread-title {    font-family: 'Mistral';font-size: 55px;font-weight: normal;}
#bread .bread-desc {font-weight: 500;margin-bottom:0;}



/*  8. HOMEPAGE
====================================*/
.home-about .home-about-body p {margin-bottom:1.5rem;}
.home-service {}
.home-service .item {position: relative; width: 25%;font-size: 18px;text-align: center;}
.home-service .item:before, .home-service .item:after {    position: absolute;width: 1px;height: 43px;background-color: #e1e1e1;}
.home-service .item:before {content: "";left: 0;bottom: 0;}
.home-service .item:nth-child(n+5):before{ bottom: auto; top: 0; }
.home-service .item:nth-child(4n):after{ content: ""; right: 0; bottom: 0; }
.home-service .item:nth-child(8n):after{ bottom: auto; top: 0; }
.home-service .item:nth-child(n+5){ border-top: 1px solid #e1e1e1; }
.home-service .item a {display:block;padding: 20px 5px;}
.home-service .item a .icon {}
.home-service .item a .title {font-size: 18px;min-height: 100%;font-weight: normal;color: #626d74;margin-bottom:0;}


.home-search {position: relative;margin-top: -5rem;}
.fancybox-slide--html .fancybox-close-small {color:#ffffff;}
.fancybox-modal-body h4{color: #a51a67;}
.modal-r-code {width: 100%;max-width:500px; background:transparent;text-align: center;display:none;}

.modal-r-code .form-label {font-size:21px;color:#E4E4E4;} 
.modal-r-code .form-control, .modal-r-code .btn {height:auto;border-radius: 5px;    padding: 1rem;}
.modal-r-code .form-control, .modal-r-code .form-control::placeholder {color:#000000;font-weight: 500;}
.modal-r-code .btn {font-weight: bold;font-size:18px;}

.sidebar {margin-bottom:1.5rem;}
.btn-sidebar {position:relative;width:100%;-webkit-justify-content: flex-start;justify-content: flex-start;}
.btn-sidebar:after {content:"";width: 0;height: 0;border-style: solid;position: absolute;right: 1rem;top: 50%;margin-top: -4px;border-width: 0 6px 8px 6px;border-color: transparent transparent #ffffff transparent;}
.btn-sidebar.collapsed:after {border-width: 8px 6px 0 6px;border-color: #ffffff transparent transparent transparent;} 
.sidebar-body {}
.leftmenu { margin: 0;padding: 0;list-style: none;}
.leftmenu li {}
.leftmenu li a{position: relative;display: block;  line-height: 16px;padding: 12px 1rem;color: #ffffff;background-color: #0168b3;}
.leftmenu li a:before {content:"";display:inline-block;width: 0;height: 0; margin-right: 10px;border-style: solid;border-width: 5px 0 5px 8px;border-color: transparent transparent transparent #ffffff;}
.leftmenu li + li a {border-top:1px solid #ffffff;}
.leftmenu li a:hover {color: #ffffff;background-color: #0c7cce;}
.leftmenu > li.active > a {background-color:#ffffff;font-weight: bold;}
.leftmenu li.active a:before {}
.reservation-completed .reservation_number {display: block;width: 100%;text-align: center;}
.reservation-completed .reservation_number span{background: #61b52d;color: #fff;padding: 50px 100px;display: inline-block;margin-bottom: 50px;font-size: 22px;}
.reservation-completed p{text-align: center;display: block;width: 100%;font-size: 18px;}

/*  CROSS BROWSER
====================================*/
/*Internet Explorer */
.ie_11 .quickview, .msie .quickview  {width:100%;max-width:1140px;}
.ie_11 .figure-img {overflow: visible;}


/* IE-10 */
.msie .pd-bttns .btn {padding-left:15px;}

/* Safari */
.safari .form-control, .safari .btn {line-height: normal;}


/*Extra*/
.drinks-wrapper .drink:after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px dashed #626d74;
    pointer-events: none;
}
.drinks-wrapper .drink {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 2px;
}
.drinks-wrapper {
    padding-right: 120px;
}
.drinks-wrapper .price {
    float: right;
    width: 120px;
    margin-right: -120px;
    text-align: right;
}
.drinks-wrapper .drink span {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-right: 3px;
    background-color: #fff;
}
.table-custom{ text-align: center; }
.table-custom th{ padding: 15px 5px !important; color: #fff; background-color: #626d74; border-color: #e1e1e1 !important; font-weight: normal; text-align: center; }
.table-custom td{ padding: 6px 2px !important; border-color: #626d74 !important; font-weight: normal; }
.table-custom td.grey{ color: #fff; background-color: #626d74; border-color: #e1e1e1 !important; }
.table-custom td.photo{ width: 90px; padding: 0 !important; }
.table-middle td {vertical-align: middle !important;}
.gps {display: block;padding: 10px;background-color: #f5f5f5;text-align: center;}

/*  MEDIA QUERY
====================================*/

@media(max-width:1199px) { 

}

@media(max-width:991px) {
    .navbar-brand {margin-top: -3.5rem;}
    .navbar-brand .logo img {height:100px;}
    .navbar .container {    -ms-flex-pack: end;justify-content: flex-end;padding-right: 15px;padding-left: 15px;}
    .navbar .navbar-collapse {overflow-y: auto; width:100%; position: fixed;top: 0;left: 0;padding:0;-webkit-transform: translateX(100%);transform: translateX(100%);overflow: inherit;height:0;-webkit-overflow-scrolling: touch;z-index: 8000;box-shadow: 0 0 15px rgba(0,0,0,.5);transition:all .3s ease-in-out;}
    .navbar .navbar-nav {}
    .navbar-nav .nav-item {}
    .navbar-nav .nav-link {color:#ffffff;display:block;padding:12px 1rem;border-bottom:1px solid rgba(255,255,255,0.15);}
    .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {color:#ffffff !important;    background-color: #0c7cce;}
    .navbar-nav .nav-item .dropdown-toggle::after {position: absolute;top: 22px;right: 1rem;}
    .navbar-nav .dropdown-menu {}
    .navbar-nav .dropdown-menu .dropdown-item {background-color:#ffffff;}
    
    .navbar .lang {width:100%;}
    .navbar .lang li {width:25%;flex:1 1 auto;}
    .navbar .lang li + li {border-left-color: rgba(255,255,255,0.15);}
    .navbar .lang li a {display:block;color:#ffffff;padding:10px;text-align: center;}
    .navbar .lang li a.active {color: #fff;background-color: #0c7cce;}
    
    .menu--open .navbar .navbar-collapse {height:auto;-webkit-transform: translateX(0);transform: translateX(0);display: block;margin-bottom: 2rem;}
    .menu--open .nav-list .nav-item {-webkit-animation-name: fade-in-bottom;animation-name: fade-in-bottom;-webkit-animation-duration: .4s;animation-duration: .4s;visibility: visible;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
    .menu--open .nav-list .nav-item:first-child {-webkit-animation-delay: 90ms; animation-delay: 90ms;}
    .menu--open .nav-list .nav-item:nth-child(2) {-webkit-animation-delay: .18s;animation-delay: .18s;}
    .menu--open .nav-list .nav-item:nth-child(3) {-webkit-animation-delay: .27s; animation-delay: .27s;}
    .menu--open .nav-list .nav-item:nth-child(4) {-webkit-animation-delay: .36s; animation-delay: .36s;}
    .menu--open .nav-list .nav-item:nth-child(5) {-webkit-animation-delay: .45s; animation-delay: .45s;}
    .menu--open .nav-list .nav-item:nth-child(6) {-webkit-animation-delay: .54s; animation-delay: .54s;}

    .home-slider .slider-block {top:35%;}
    
    #slider .slider-block .slide-title {font-size:36px;line-height: 1;}
    #slider .slider-block .slide-title img {margin:10px 0;}
    #slider .slider-block .slide-desc {line-height: 1;}
    
}

@media(max-width:767px) {
    .r-search-form .r-search-dates, .r-search-form .r-search-guests {max-width: 100%;}
    .r-search-form .r-search-btn { max-width: 100%;}
    
    .home-service .item {width:50%;font-size:16px;}
    .home-service .item:before, .home-service .item:after{ display: none; }
    .home-service .item:nth-child(n+3){ border-top: 1px solid #e1e1e1; }
    .home-service .item:nth-child(2n){ border-left: 1px solid #e1e1e1; }
    
    .f-menu {-ms-flex-wrap: wrap;flex-wrap:wrap;-webkit-justify-content: center;justify-content: center;margin-bottom:1rem;}
    
    #slider .slick-slide, #hero .slick-slide {height:50vh;}
    #hero .slick-slide {height:40vh;}
    #hero .slick-slide img {height:100%;object-fit: cover;}
}

@media(max-width:567px) {
    #slider .slider-block .slide-title {font-size:1.5rem;margin-bottom:0;}
    .newsletter {-webkit-flex-direction: column;flex-direction: column;}
    .newsletter .newsletter-label, .newsletter form {width:100%;}
    .newsletter .newsletter-label {text-align: center;margin-bottom:8px;}
    #footer .f-foot {text-align: center;}
    #footer .f-foot .social {margin-bottom:10px;}
    
}
@media(max-width:419px) {
    #header .navbar {width:100%;}
}

@media(min-width:568px) {


}
@media(min-width:568px) and (max-width:767px) {

}

@media(min-width:768px) {
    #footer .egegen {float:right;}
    .sidebar .sidebar-body {display:block;}
    
    
}

@media(min-width:568px) and (max-width:991px) {


}

@media(min-width:768px) and (max-width:991px) {
    .r-search-form .r-search-dates, .r-search-form .r-search-guests {max-width: 35%;}
    .r-search-form .r-search-btn { max-width: 30%;}
    
}


@media(min-width:992px) {
    .bg-navbar, .btn-toggler {display: none;}
    .navbar {}
    .navbar-brand {}
    .navbar-brand .logo {}
    .navbar .navbar-collapse {}
    .navbar-nav {flex: 1 1 auto;}
    .navbar-nav .nav-item {flex: 1 1 auto;padding:0 10px;}
    .navbar-nav .nav-link {font-size:16px;color:#626d74;padding:8px 0 !important;border-width:0 0 3px 0;border-style: solid;border-color:transparent;}
    .navbar-nav .nav-item:nth-child(4) {margin-right:95px;}
    .navbar-nav .nav-item:nth-child(5) {margin-left:130px;}
    
    .newsletter {-webkit-justify-content: flex-end;justify-content: flex-end;}
    .home-about {position:relative;}
    .home-about .home-about-media {    position: absolute;right: 0;left: 56.5%; width: auto;       overflow: hidden; display: block;}

    .page-reservation .sidebar {padding-top: 36px;}

    [lang=en] .navbar-nav .nav-item:nth-child(5) {    margin-left: 250px;}
}

@media(min-width:992px) and (max-width:1199px) {
    .navbar-brand {margin-top: -3.5rem;}
    .navbar-brand .logo img {}
    .navbar-nav .nav-item {padding:0 6px;}
    .navbar-nav .nav-item:nth-child(4) {margin-right: 70px;}
    .navbar-nav .nav-link {font-size:14px;}
    .newsletter .form-control {width:120px;}
    
}

@media(min-width:1200px) {


}

@media(min-width:1600px) {


}

@media(min-width:1200px) and (max-width:1899px) {


}

@media(min-width:1900px) {


}
@media(min-width:2100px) {


}
@media(min-width:2500px) {


}
