@font-face {font-family: 'Proxima Nova'; src: url('../fonts/ProximaNova-Semibold.eot'); src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg#../fonts/ProximaNova-Semibold') format('svg'); font-weight: 500; font-style: normal; } 
@font-face {font-family: 'Proxima Nova'; src: url('../fonts/ProximaNova-Bold.eot'); src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#../fonts/ProximaNova-Bold') format('svg'); font-weight: bold; font-style: normal; }
@font-face {font-family: 'Proxima Nova';src: url('../fonts/ProximaNova-Regular.eot');src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Regular.woff2') format('woff2'),url('../fonts/ProximaNova-Regular.woff') format('woff'),url('../fonts/ProximaNova-Regular.ttf') format('truetype'),url('../fonts/ProximaNova-Regular.svg#../fonts/ProximaNova-Regular') format('svg');font-weight: normal;font-style: normal;}



.r-search {font-family: 'Proxima Nova';}
.r-search .container {}
.r-search-head {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-justify-content: space-between;justify-content: space-between;-webkit-align-items: flex-end;align-items: flex-end;}
.r-search-head-tabs {}
.r-search-tabs {margin-bottom:0;}
.r-search-tabs .nav-item {}
.r-search-tabs .r-tablink {font-family: 'Proxima Nova'}
.r-search-tabs .r-tablink.active, .r-search-tabs .r-tablink.show {}
.r-search-head-ext {}
.r-search-head-ext .r-tablink {position: relative;border: 0;font-family: 'Proxima Nova';display:block;padding: 0.725rem 1rem;font-weight: 500;font-size: 18px;color: #000000;background-color: #DCE4ED;    border-top-left-radius: 12px;border-top-right-radius: 12px;}
.r-search-head-ext .r-tablink span {}
.r-search-body {padding:15px;background-color:#DCE4ED;    box-shadow: 0px 10px 0px 0px #B8C4D1;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.r-search-tabcontent {}
.r-search-tabpane {}
.r-search-form {margin-left:-8px;margin-right:-8px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-align-items: flex-end;align-items: flex-end;flex-wrap: wrap;-ms-flex-wrap: wrap;}
.r-search-form > * {padding-left:8px;padding-right:8px;width:100%;}
.r-search-form-group {position:relative;margin-bottom:1rem;}
.r-search-form-label {font-size:16px;line-height: 20px;color:#000000;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-justify-content: space-between;justify-content: space-between;}
.r-search-form-input {display: block;width: 100%;height:auto;padding:12px 1rem;font-size: 16px;font-weight: 400;line-height: 1.5;font-family: 'Proxima Nova';color: #000000;border-radius: 5px;background-color: #fff;background-clip: padding-box;border: 1px solid #B1B1B1;}
a.r-search-form-input:hover {color: #000000;}
.r-search-form .r-search-dates .r-search-form-input {text-align: center;}
.r-search-form-btn { height: auto;padding: 12px 1rem;font-size: 16px;font-weight: bold; border-radius: 5px; line-height: 1.5;}

.daterangepicker .drp-calendar {max-width:305px;}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {font-size:16px;font-weight: 500;color:#2E2E2E;}
.daterangepicker .calendar-table th {color:#898989;font-size:14px;}
.daterangepicker th.month {font-size:18px;color:#000000;}
.daterangepicker td.in-range {background-color:#DCE4ED;}
.daterangepicker td.active, .daterangepicker td.active:hover {color: #ffffff;background-color: #0052AC;}
.daterangepicker td.disabled, .daterangepicker option.disabled {color: #bdbdbd;background: 0;cursor: default;outline: 0;-webkit-box-shadow: none;box-shadow: none;text-decoration: none;}


.tbl, .tblHead, .tblBody {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;}
.tblHead {}
.tblBody {}
.tblRow {display: -webkit-box;display: -ms-flexbox;display: flex;flex:1 1 auto;border-bottom:1px solid #C6D2E0;}
.tblCell {font-size:16px;flex: 1 1 auto;font-weight:400;color:#6E6E6E;padding:5px;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-align: center;-webkit-align-items: center;align-items: center;-webkit-justify-content: flex-start;justify-content: flex-start;}
.tbl .tblHead .tblRow {}
.tbl .tblHead .tblCell {font-weight:500;color:#000000;line-height: 1.2;-ms-flex-align: end;-webkit-align-items: flex-end;align-items: flex-end;}
.tbl .tblBody .tblRow {}
.tbl .tblBody .tblCell {}

.tblPackageSearchResult .tblPackageImage {flex: 0 0 10%;} 
.tblPackageSearchResult .tblPackageName {flex: 0 0 20%;font-weight:500;color:#000000;}
.tblPackageSearchResult .tblPackageDates {flex: 0 0 25%;} 
.tblPackageSearchResult .tblPackageDay {flex: 0 0 15%;} 
.tblPackageSearchResult .tblPackagePrice {flex: 0 0 20%;} 
.tblPackageSearchResult .tblPackageExt {flex: 0 0 10%;} 


.r-rooms-guests-panel {box-shadow: 0 0 10px rgba(0,0,0,.15);border-radius:5px;background-color: #fff;border: 1px solid #B1B1B1;border-top: 0;width: 100%;position: absolute;z-index: 1;}
.r-rooms-guests-panel .rooms-guest-wrapper {padding: 1rem 1rem 0;}
.r-rooms-guests-panel .form-control:disabled, .r-rooms-guests-panel .form-control[readonly] {background-color:#ffffff;}
.r-rooms-guests-panel .r-minus, .r-rooms-guests-panel .r-plus { display: block; padding-top: .1rem;padding-left: .04rem;cursor: pointer; float: left; color: #1c1c1c;text-decoration: none;width: 1.625rem;height: 1.625rem;line-height: 19px;border: .0625rem solid #d2d2d2;border-radius: 50%; position: absolute;top: .875rem;text-align: center;}

.r-s2-stepper {position: relative;padding: 0;}
.r-rooms-guests-panel .field-title {font-size: .875rem;line-height: 1;margin-bottom: .375rem;display: block;}
.r-rooms-guests-panel .r-minus {right: 3.25rem;}
.r-rooms-guests-panel .r-plus {right: .875rem;}
.r-rooms-guests-panel .r-minus.is-inactive, .r-rooms-guests-panel .r-minus.is-inactive:hover, 
.r-rooms-guests-panel .r-plus.is-inactive, .r-rooms-guests-panel .r-plus.is-inactive:hover {cursor: default;color: #d2d2d2;pointer-events:none;}
.r-rooms-guests-panel .r-minus.is-inactive svg path, .r-rooms-guests-panel .r-minus.is-inactive:hover svg path, 
.r-rooms-guests-panel .r-plus.is-inactive svg path, .r-rooms-guests-panel .r-plus.is-inactive:hover svg path {fill: #d2d2d2;}
.r-rooms-guests-panel .form-group .form-control {font-size: 1rem;height:auto;padding: 14px 1rem;border-radius: 5px;}

.PackageSearchForm {width:100%;padding:15px;}
.PackageSearchForm .r-search-form {width:100%;}
.PackageSearchForm .r-search-form .r-search-dates .r-search-form-input {text-align: left;}

.r-search-hero {position: relative;background-color:#E7EDF8;}
.r-search-hero:after {content:"";top:100%;left:50%;margin-left:-22px;width: 0;height: 0;border-style: solid;border-width: 22px 22px 0 22px;border-color: #E7EDF8 transparent transparent transparent;}
.r-step {position: relative; top: -1.125rem;z-index:999;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-justify-content: center;justify-content: center;}
.r-step-item {text-align: center;position:relative;padding:0 1rem;width:200px;}
.r-step-number {position:relative;display:inline-block;width:36px;height:36px;line-height: 36px;text-align:center;font-size:21px;font-weight: 500;color:#ffffff;margin-bottom:5px;background-color:#526DA0;border-radius:50%;-ms-user-select: none;-webkit-user-select: none;user-select:none;pointer-events: none;}
.r-step-text {font-size:14px;color:#424C53;display:block;}
.r-step-item + .r-step-item .r-step-number:before {content:"";background-color:#BFCCE3;height:3px;    width: 164px;display: inline-block;position: absolute;top: 50%;left: -164px;margin-top: -1px;}
.r-step-item.active .r-step-number {color:#ffffff;background-color:#6FC63A;}

.r-detail-tabs {border-bottom:0;margin-bottom:0;}
.r-detail-tabs .nav-item {padding-right: 1.5rem;}
.r-detail-tabs .nav-link {color:#838383;font-size:21px;font-family: 'Proxima Nova',sans-serif;font-weight: 500;padding:0;background-color: transparent;border-width:0 0 4px 0;border-style:solid;border-color:transparent;}
.r-detail-tabs .nav-link.active, .r-detail-tabs .nav-item.show .nav-link {font-weight: bold;background-color:transparent;}


.roomProp {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-align-items: center;align-items: center;font-size: 15px;padding: 15px 0;line-height: 1.2;}
.roomProp .icon {min-width: 34px;margin-right:10px;}
.roomProp .text {}

.hirePurchase {padding:15px;border:1px solid #B1B1B1;border-radius:5px;margin-bottom:15px;}
.hirePurchaseItem {margin-bottom:15px;font-size:16px;color:#2B2B2B;}
.hirePurchaseLabel {display:inline-block;min-width:8rem;}

.payment-btn {position:relative;top:-1.5rem;text-align: center;}

.r-change-currency {font-weight: 500;margin-bottom:12px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: flex-end;justify-content: flex-end;}
.r-change-currency .dropdown-menu {min-width: auto;box-shadow:0 0 15px rgba(0,0,0,0.15);}


.card-r-detail {position: -webkit-sticky;position: sticky;top: 0px;}
.card-r-detail hr {margin: 10px 0;}

.r-details {}
.r-detail-item {padding:8px 0; display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content:flex-end;justify-content: flex-end;}
.r-detail-item-icon {margin-right: auto;}
.r-detail-item-content {text-align:right;font-weight: 500;color:#525252;}
.r-detail-item-content span {display:block;}
.r-detail-item-content .label {font-size:14px;}
.r-detail-item-content .text {font-size:16px;}
.r-detail-item-content .number {font-size:21px;}
.r-detail-item-date .r-detail-item-content {text-align:center;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: flex-end;justify-content: flex-end;}
.r-detail-item-date .r-detail-date-item {margin-left:10px;}
.r-details .r-detail-item:first-child {padding-top:0 !important;} 
.r-details .r-detail-item:last-child {padding-bottom:0 !important;} 

.r-agency-code {text-align: right;}
.r-agency-code .form-label {color:#000000;font-weight:500;font-size:16px;display: block;text-decoration: underline;}
.r-agency-code .form-control {text-align: right;font-size:18px;font-weight: 500;color:#000000;}


.r-detail-price {}
.r-detail-price-item {padding:4px 0;width:100%; font-weight: 500;font-size:14px;line-height: 1.3;text-align:right;display: -webkit-box;display: -ms-flexbox;display: flex;}
.r-detail-price-item .label {width: 95px;-webkit-flex: 0 0 95px;flex: 0 0 95px;}
.r-detail-price-item .price {-webkit-flex: 1 1 auto;flex: 1 1 auto;font-size: 16px;}
.r-price-total .price {font-size:2rem;color:#009B06;}
.r-price-total  .label {width: auto;-webkit-flex:0 0 auto;flex: 0 0 auto;    margin-top: 11px;}
.r-price-total .price .subprice {    text-decoration: line-through;font-size:75%;color: #626d74;}

.monthly-payment .table th, .monthly-payment .table td {line-height: 1.3}
.monthly-payment .table th {font-weight:500;}

@media(max-width:1199px) {
    .r-detail-item-icon {display:none;}
    .r-detail-item-content {width:100%;}
}

@media(max-width:991px) {
    .r-detail-price-item .label {width: 150px;-webkit-flex: 0 0 150px;flex: 0 0 150px;}
    .payment-btn {top:auto;padding:15px 0;margin-bottom:1rem;}
}

@media(max-width:767px) {
    .r-search-head {flex-direction: column;}
    .r-search-tabs {width:100%;}
    .r-search-tabs .nav-item {list-style: none;display:block;width:50%;}
    .r-search-tabs .r-tablink {line-height: 1.3;height:100%;font-size:16px;  display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
    .r-search-head-ext {width:100%;}
    .r-search-head-ext .r-tablink {border-radius: 0;}
    
    .tblPackageSearchResult .tblHead {display: none;}
    .tblPackageSearchResult .tblRow {-webkit-flex-wrap: wrap;flex-wrap: wrap;padding:10px 0;}
    .tblPackageSearchResult .tblCell {width:100%;}
    .tblPackageSearchResult .tblPackageImage {-webkit-flex: 0 0 30%;-ms-flex: 0 0 30%;flex: 0 0 30%;max-width:30%;}
    .tblPackageSearchResult .tblPackageName {-webkit-flex: 0 0 70%;-ms-flex: 0 0 70%;flex: 0 0 70%;max-width:70%;}
    .tblPackageSearchResult .tblPackageDates {-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width:100%;}
    .tblPackageSearchResult .tblPackageDay {-webkit-flex: 0 0 40%;-ms-flex: 0 0 40%;flex: 0 0 40%;max-width:40%;}
    .tblPackageSearchResult .tblPackagePrice {-webkit-flex: 0 0 60%;-ms-flex: 0 0 60%;flex: 0 0 60%;max-width:60%;}
    .tblPackageSearchResult .tblPackageExt {-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width:100%;}
    
    .daterangepicker {width: 320px;}
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {font-size:14px;min-width:26px;width: 26px;}
    
    .r-step-item {width:120px;}
    .r-step-item + .r-step-item .r-step-number:before {left: -84px;width: 84px;}
    
}

@media(max-width:359px) {
    .daterangepicker {width:280px;}
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {padding: 4px 5px;font-size:13px; min-width:14px;width: 24px;}
}

@media(min-width:768px) {
    .r-search-form .r-search-dates {max-width:40%;}
    .r-search-form .r-search-guests {max-width:40%;}
    .r-search-form .r-search-btn {max-width:20%;}
    
    
    #tabDetailPackage .PackageSearchForm {padding:10px;}
}

@media(min-width:992px) {
    #tabDetailPackage .r-search-form .r-search-dates {max-width:36%;}
    #tabDetailPackage .r-search-form .r-search-guests {max-width:36%;}
    #tabDetailPackage .r-search-form .r-search-btn {max-width:28%;}
}

@media(min-width:1600px) {
    .card-r-detail hr {margin:20px 0;}
}

